
.main_title{
	padding-left: 240px;
	width: 197px;
	height: 38px;
	font-size: 32px;
}
.paragrap_style{
	width: 400px;
	padding-left: 240px;
	display: inline-block;
	vertical-align:bottom;
	display: inline-block;
}
.paragrap_style1{
	width: 400px;
	padding-left: 240px;
	vertical-align: bottom;
}
span{
	color: #0A22F4;
}
.picture{
	margin-left: 900px;
	width: 500px;
	vertical-align: bottom;
	display: inline-block;
	margin-top: -300px;
	margin-left: 690px;
	box-shadow:0px 12px 12px 0px;
	box-shadow: 10px 10px blue;
}
.title{
	font-size: 32px;
	padding-left: 800px;
}
.paragrap_style2{
	width: 400px;
	padding-left: 800px;
	display:block;
}
.picture2{
	width: 500px;
	margin-left: 240px;
	margin-top: -200px;
	box-shadow: 12px 1px 1px 12px;
	box-shadow: 10px 10px  blue;
}
.wrapper{
	padding-top: 240px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation {
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
}
.full-header {
    background-color:  #0020F4;
    margin: 0 auto;
}
li {
    display: inline-block;
    margin-right: 20px;
    margin-top: 50px; 
}
a {
    color: white;
    text-decoration: none;  
}
.logo {
    margin-right: 200px;
    vertical-align: middle;
    display: inline-block;
}
.contact-button {
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    width: 120px;
    display: inline-block;
    border: solid white;
    font-weight: 700;
}
ul {
    display: inline-block;
}
.header-container {
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    width: 1600px;
    background-color: #0020F4;
}
.rectangle3 {
    width: 580px;
    height: 460px;
    margin-left: 200px;
    vertical-align: middle;
    margin-right: 20px;
}
.img-section {
    display: inline-block;
    background-color: #0020F4;
    width: 1600px;
    height: 800px;
    padding-top: 100px;
}
.rectangle1 {
    width: 700px;
    height: 550px;
    vertical-align: middle;
}